#customer-form{
    text-align: left;
    padding: 20px;
    border: 1px solid blue;
    background-color: rgb(158, 56, 116);
}
#customer-form button{
    padding: 10px;
    border: 0;
    color: rgb(54, 8, 44);
    background-color: rgb(233, 191, 207);
    border radius: 5px;
    
}
#customer-form input[type="text"]{

    width: 200px;
    max-width: 250px;
}